body {
    margin: 0;
    font-family: Arial, sans-serif; 

   
}

.hero {
    position: relative;
    width: 100%;
    height: 60vh; 
    background-image: url('images/banner.png');
    margin-left: 40px;
    margin-right: 20px;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hero-content {
    padding: 20px;
}

h1 {
    font-size: 2rem;
    margin: 0;
    padding: 10px;
    color:rgba(0, 0, 0, 0.822);
  
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }
}

 @media screen and (max-width: 480px) {
    h1 {
        font-size: 1.2rem;
    }
} 
.with-arrow {
    padding-left: 60px; 
    background-image: url('images/arrow.png');
    background-repeat: no-repeat;
    background-position: left center;
    color:darkblue;
  
}

.image-container {
    display: inline-block;
    width: calc(32% - 8px); 
    margin-right: 20px; 
    margin-left: 8px;
  }

  .image-container img {
    width: 100%; 
    border: 1px solid darkblue; 
    box-sizing: border-box;
    display: inline-block;
  }

  .image-set {
    text-align: justify;
    padding: 10px 0;
    margin: 20px;
    white-space: nowrap;

  }

  .center-text{
    text-align:center;
  }

  .arrow-left{
    color: darkblue;
    margin-left: 40px;
  }
.header-red{
    color:darkred;
}
p{
    color:rgba(0, 0, 139, 0.781);
}
.third-header{
    color:darkred;
    margin-left:40px;
}



  .right-image {
    float: right; 
    width: 230px; 
    height: 185px; 
    margin-right: 40px;
  }
  .container{
    margin-left: 40px;
  }

  ul {
    list-style-type: disc; 
 margin-left: 40px;
 color:darkblue;
  }
  ul li {
    margin-bottom: 8px; 
  }

  .left-image{
    float:left;
    width:330px;
    height:320px;
    margin-left:40px;
  }

  .fourth-header{
    color:darkred;
    margin-top: -1em;
  
  }

.jar-points{
    list-style-type: disc;
    margin-left: 20px;
    margin-right:75px;
}

hr {
    border: none; 
    border-top: 4px solid rgba(139, 0, 0, 0.829);
    margin: 20px 0; 
  }

  .footer-center{
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
 
  }
  
  .center-words {
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  .word {
    margin: 0 10px; 
    font-weight: bold;
  }
  .main {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 120px; 
    height: 40px; 
   
    margin-left: 40px;
    padding:10px;
  }

  .right-side {
  margin-right: 20px;
    display: flex;
    justify-content:right;
    position: absolute;
    top: 0;
    right: 0;
font-weight: bold;
padding: 10px;
    align-items: flex-end;
  }

  .wore {
    margin-left: 20px; 
  }


